body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
}

.form form{
    padding: 10px;
    padding-left: 110px;
    width: 400px;
    display: block;
    box-shadow: 0px 0px 1px 1px rgba(155, 154, 154, 0.623);
}

input{
    width: 300px;
    height: 50px;
    border: 0.5px solid #aaa;
    border-radius: 3px;
}

input[type=text]{
    outline: dodgerblue;
    border: none;
    border-bottom: 1px solid #aaa;
}

input[type=submit]{
    width: 304px; 
    border: none;
    background-color: dodgerblue;
}

input[type=text]:focus{
    border-bottom:2px solid dodgerblue;
    transition: .3s;
}

select{
    width: 300px;
    height: 50px;
}

/*Style de la table*/
.table table{
    border-collapse: collapse;
    border-spacing: 10px;
}

th, td{
    border: 1px solid #aaa;
    padding: 10px;
}

td button{
    width: 80px;
    border: 1px solid #aaa;
}
